.js-image {
  width: 70px;
  height: 70px;
  cursor: pointer;

  &--one {
    background: url('../images/1.png') center / cover no-repeat;
    background-color: aquamarine;
  }

  &--two {
    background: url('../images/2.png') center / cover no-repeat;
    background-color: aquamarine;
  }

  &--three {
    background: url('../images/3.png') center / cover no-repeat;
    background-color: aquamarine;
  }

  &--four {
    background: url('../images/4.png') center / cover no-repeat;
    background-color: aquamarine;
  }

  //&:hover {
  //  background-color: transparent;
  //}
}

.js-hover {
  background-color: transparent;
}